$big-width: 1340px;
$small-width: 1100px;
$ipad-width: 880px;
$mobile-width: 720px;

@mixin lg-desk {
	@media (max-width: #{$big-width}) {
		@content;
	}
}

@mixin sm-desk {
	@media (max-width: #{$small-width}) {
		@content;
	}
}

@mixin ipad {
	@media (max-width: #{$ipad-width}) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: #{$mobile-width}) {
		@content;
	}
}